<!doctype html>
<html lang="en" data-bs-theme="auto">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <meta name="author" content="Stéphane Muller" />
        <title>Fabtrack administration panel</title>

        <script src="../../javascripts/color-mode-toggler.js"></script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" />
        <link rel="stylesheet" href="../stylesheets/main.css" />
        <link rel="stylesheet" href="../stylesheets/fontawsome-all.min.css" />

        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
    </head>

    <body class="d-flex justify-content-center bg-body-tertiary py-4">
        <% include ../includes/light-dark.html %>

        <main class="w-50 mx-auto">
            <% include ../includes/header.html %>

            <h4 class="mb-4"><i class="fa fa-users-gear"></i>&nbsp;&nbsp;Manage types of users (visitors)</h4>

            <table class="mb-5 table">
                <thead>
                    <tr>
                        <th onclick="sortTable(0)" scope="col">#</th>
                        <th onclick="sortTable(1)" scope="col">Usertype</th>
                        <th scope="col" class="text-center">Delete</th>
                    </tr>
                </thead>
                <tbody id="table-content">
                    <% usertypes.forEach(function(usertype) { %>
                    <tr>
                        <th scope="row"><%= usertype.id %></th>
                        <td><%= usertype.name %></td>
                        <td class="text-center">
                            <a href="#" onclick="deleteType(<%= usertype.id %>)"><i class="fa-solid fa-trash-can"></i></a>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>

            <h5 class="mb-4"><i class="fa fa-user-plus"></i>&nbsp;&nbsp;Create new usertype</h5>

            <form action="/admin/usertype/create" method="post">
                <div class="row">
                    <div class="col-md">
                        <input type="text" class="form-control" id="name" name="name" placeholder="name" required />
                    </div>
                    <div class="col-md">
                        <button class="btn btn-primary w-100 mb-2 py-2" type="submit">Create usertype</button>
                    </div>
                </div>
            </form>
        </main>

        <script src="../javascripts/admin-scripts.js"></script>
        <script src="../javascripts/table-sorting.js"></script>
        <script
            src=" https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
            integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
            crossorigin="anonymous"
        ></script>

        <% include ../includes/notifications.html %>
    </body>
</html>
