<!doctype html>
<html lang="en" data-bs-theme="auto">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <meta name="author" content="Stéphane Muller" />
        <title>Fabtrack administration panel</title>

        <% include ../includes/pagehead.html %>
    </head>

    <body class="d-flex justify-content-center bg-body-tertiary py-4">
        <% include ../includes/light-dark.html %>

        <main class="w-50 mx-auto">
            <% include ../includes/header.html %>

            <h4 class="mb-4"><i class="fa fa-users-gear"></i>&nbsp;&nbsp;Manage types of users (visitors)</h4>

            <table class="mb-5 table">
                <thead>
                    <tr>
                        <th onclick="sortTable(0)" scope="col">#</th>
                        <th onclick="sortTable(1)" scope="col">Usertype</th>
                        <th scope="col" class="text-center">Delete</th>
                    </tr>
                </thead>
                <tbody id="table-content">
                    <% usertypes.forEach(function(usertype) { %>
                    <tr>
                        <td scope="row"><%= usertype.id %></td>
                        <td><%= usertype.name %></td>
                        <td class="text-center">
                            <a href="admin/usertypes/delete/<%= usertype.id %>"><i class="fa-solid fa-trash-can"></i></a>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>

            <h5 class="mb-4"><i class="fa fa-user-plus"></i>&nbsp;&nbsp;Create new usertype</h5>

            <form action="/admin/usertypes/create" method="post">
                <div class="row">
                    <div class="col-md">
                        <input type="text" class="form-control" id="name" name="name" placeholder="name" required />
                    </div>
                    <div class="col-md">
                        <button class="btn btn-primary w-100 mb-2 py-2" type="submit">Create usertype</button>
                    </div>
                </div>
            </form>
        </main>

        <% include ../includes/footer.html %>
    </body>
</html>
