<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Stéphane Muller" />
    <title>Fabtrack - History</title>

    <% include ../includes/pagehead.html %>
    <script src="javascripts/pagination.js"></script>
  </head>

  <body class="d-flex justify-content-center bg-body-tertiary py-4">
    <% include ../includes/light-dark.html %>

    <main class="w-50 mx-auto">
      <% include ../includes/header.html %>

      <h4 class="mb-4">
        <i class="fa-solid fa-clock-rotate-left"></i>&nbsp;&nbsp;History
      </h4>

      <table class="mb-3 table" id="historyTable">
        <thead>
          <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col" class="text-center">Arrival</th>
            <th scope="col" class="text-center">Departure</th>
            <th scope="col" class="text-center">User</th>
            <th scope="col" class="text-center">Workspace</th>
            <th scope="col" class="text-center">Comments</th>
            <th scole="col" class="text-center">Edit</th>
            <th scope="col" class="text-center">Delete</th>
          </tr>
        </thead>
        <tbody id="table-content">
          <% let tableData = [] %>
          <% for (const entry of history) { %>
          <% if (entry.workspaceId != selectedWorkspace.id) { continue; } %>
          <% tableData.push( {
            col1: entry.id,
            col2: entry.arrival,
            col3: entry.departure,
            col4: '<a href="/users/edit/' + entry.userId +'">' + entry.user.name + ' ' + entry.user.surname + '</a>',
            col5: entry.workspace?entry.workspace.name:"-",
            col6: entry.comments?'<span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="' + entry.comments + '"><i class="fa-solid fa-comment-lines"></i></span>':'<i class="fa-regular fa-comment" style="color: grey"></i>',
            col7: '<a href="history/edit/' + entry.id + '"><i class="fa-solid fa-pen-to-square"></i></a>',
            col8: '<a href="history/delete/' + entry.id + '"><i class="fa-solid fa-trash-can"></i></a>'
          }) %>
          <% } %>
        </tbody>
      </table>

      <% include ../includes/footer.html %>

      <script>
        // Call the pagination function after the table is rendered
        addPagination('historyTable', <%- JSON.stringify(tableData) %>);
      </script>
  </body>
</html>
