<!doctype html>
<html lang="en" data-bs-theme="auto">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <meta name="author" content="Stéphane Muller" />
        <title>Fabtrack signin</title>

        <% include ../includes/pagehead.html %>
    </head>

    <body class="d-flex justify-content-center bg-body-tertiary py-4">
        <% include ../includes/light-dark.html %>
        <main class="form-signin w-100 m-auto">
            <form action="/create-account" method="post">
                <img class="mb-4" src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57" />
                <h1 class="h3 fw-normal mb-3">Create account</h1>

                <div class="alert alert-warning" id="warning" style="display: none" role="alert"></div>

                <div class="form-floating">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username" required />
                    <label for="username">Username</label>
                </div>

                <div class="form-floating">
                    <input type="password" class="form-control" id="password_verif" name="password_verif" placeholder="Password" required />
                    <label for="password_verif">Password</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required />
                    <label for="password">Confirm password</label>
                </div>

                <div class="form-floating">
                    <input type="email" class="form-control" id="mail" name="mail" placeholder="your@email.com" required />
                    <label for="mail">Email</label>
                </div>

                <button class="btn btn-primary w-100 py-2" type="submit">Register</button>
                <p class="mt-2 text-center"><small><a href="../login">I already have an account</a></small></p>
                <p class="text-body-secondary mb-3 mt-5">&copy; Stéphane Muller 2024</p>
            </form>
        </main>

        <% include ../includes/footer.html %>

        <script>
        document.querySelector('form')
          .addEventListener('submit', (event) => {
            if (document.getElementById('password').value != document.getElementById('password_verif').value){
              event.preventDefault();
              document
                .getElementsByClassName("toast-body")[0]
                .innerHTML = "Error: Passwords do not match!";
              showNotification();
            }
          });
        </script>
    </body>
</html>
